<style>
  a:hover#id-link1, #links a#id-link1.current {
    background-color: #E8CB9C; }a:hover#id-link2, #links a#id-link2.current {
    background-color: #D25D8B; }a:hover#id-link3, #links a#id-link3.current {
    background-color: #D87E5E; }a:hover#id-link4, #links a#id-link4.current {
    background-color: #9E388F; }a:hover#id-link5, #links a#id-link5.current {
    background-color: #600119; }a:hover#id-link6, #links a#id-link6.current {
    background-color: #E8CB9C; }
  </style>	
  <div id="slider">
  <h1 class="accrocheSlider">拉苏米亚 <br><span>红酒柜</span></h1>
  <img src="/images/skins/commun/loader.gif" style='display:none;' />
  <div id="mask-gallery">
    <ul id="gallery">
      <%s_count = 1%>
      <%@slides.each do |s|%>
        <li class="item<%=s_count%>">
          <a href="<%s.link%>"  class="">
            <%= image_tag s.image.url,:width=>"1300",:height=>"448",:style=>"display:none;" %>
          </a>
        </li>
        <%s_count += 1%>
      <%end%>	
    </ul>
  </div>


  <div id="links">
    <%l_count = 1%>
    <%@slides.each do |s|%>
      <a href="<%=s.link%>" rel="item<%=l_count%>" id="id-link<%=l_count%>" class="" >
        <h2><%=s.title%></h2>
      </a>
      <%l_count += 1%>
    <%end%>
  </div>
</div>
<div style="clear:both;" ></div>

<footer  class="accueilFoot"  >
  <div class="capsFoot">
    <div class="col13">
      <table cellpadding="0" cellspacing="0">
        <%@posts.each do |p|%>
          <tr>
            <td>        
              <%=generate_feature_image(p,80)%>
            </td>
            <td>
              <div class="menu2foot">
                <div class="smallTitre">
                  <a href="/posts/<%=p.id%>">
                    <span><%=p.title%></span>									 
                  </a>
                </div>
                <p class="index_post_content">
                  <%= (truncate(strip_tags(p.content), :length => 100, :omission => '...')).html_safe %>
                </p>
              </div>
            </td>
          </tr>
        <%end%>
      </table>
    </div>
    <div class="col23">
      <img src="images/skins/commun/cart.jpg" alt="Carte" style="margin-bottom:10px; cursor:default;">
      <div class="titreMoyen">
        <span>
          公司简介				
        </span>
        <br><span class="txtGris">拉苏米亚红酒柜</span>
      </div>
      <p>
        <%= (truncate(strip_tags(Page.find(1).content), :length => 100, :omission => '...')).html_safe %>
      </p>
      <ul class="col23-links">
        <li><a href="/pages/3" style="padding-right:20px;">到哪购买?</a></li>
        <li><a href="/pages/4">成为分销商</a></li>
      </ul>
      
    </div>
    <!--div class="col33">
      <div class="titreMoyen">
        <span>首页栏目4</span><br><span class="txtGris">内容</div>
      <img src="http://www.lasommeliere.com/images/skins/commun/cart.jpg" alt="Carte" style="margin-top:10px; cursor:default;" />
      <p>详细内容...</p>
      <div style="height:140px;">
  
      </div>  
    </div-->

    <hr class="magicHeight">
  </div>
</footer>
