<h3>红酒柜列表</h3>

<%=form_tag '', :method => :get%>
<fieldset style="clear:both">
  <legend>筛选</legend>
  <%= select "category","id",Category.all.collect {|c| [ c.name, c.id ] },{:include_blank=>"全部.."} %>
  <%=  submit_tag "确定"%>
</fieldset>
</form>

<table class="admin" id="sortable">
  <thead>
    <tr>
      <th>分类</th>
      <th>型号</th>
      <th colspan="4" ></th>
    </tr>
  </thead>
  <tbody>
    <% @winecoolers.each do |c| %>
      <tr id="item_<%= c.id %>">
        <td class="spec"><%= c.category.name if c.category %></td>
        <td><%= c.model %></td>
        <td class="action-link"><%= link_to '查看', c %></td>
        <td class="action-link"><%= link_to '选择配件', accessory_winecooler_path(c) %></td>
        <td class="action-link"><%= link_to '编辑', edit_winecooler_path(c) %></td>
        <td class="action-link"><%= link_to '删除', c, method: :delete, data: { confirm: '您确定?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br />
<%= will_paginate @winecoolers,:previous_label=>"上一页",:next_label=>"下一页",:class=>"apple_pagination"  %>
<%= link_to '新增红酒柜', new_winecooler_path %>


