<%if @category%>
  <script type="text/javascript">
    $(document).ready(function(){
      $("#sortable tbody").sortable({
        items: 'tr',
        update: function(){
          $.ajax({
            type: 'post',
            data: $('#sortable  tbody').sortable('serialize'),
            dataType: 'script',
            complete: function(request){
              $('#sortable').effect('highlight');
            },
            url: '/winecoolers/sort?category_id=<%=@category.id%>'})
        }
      }).disableSelection();
    });
  </script> 
<%end%>

<h3>红酒柜排序</h3>

<%=form_tag '', :method => :get%>
<fieldset style="clear:both">
  <legend>筛选</legend>
  <%= select :category,:id,Category.all.collect {|c| [ c.name, c.id ] },{:include_blank=>"请选择.."} %>
  <%=  submit_tag "确定"%>
</fieldset>
</form>

<% if @category %>
  <table class="admin" id="sortable">
    <caption>Tip:可拖拽排序</caption>
    <thead>
      <tr>
        <th>型号</th>
        <th>分类</th>
        <th>图片</th>
      </tr>
    </thead>
    <tbody>
      <% @category.winecoolers.each do |w| %>
        <tr id="item_<%= w.id %>" class="sort-row">
          <td class="spec">
            <span class="sortable-item" style="float:left;"><%= w.model %></span>
          </td>
          <td><%= w.category.name %></td>
          <%url_string = w.uploads.first.upload.url(:thumb)%>
          <td><img src="<%=url_string%>" width="40px" /></td>
        </tr>
      <% end %>
    </tbody>
  </table>

<%end%>



