<script type="text/javascript">
  $(document).ready(function(){
    $("#pikame").PikaChoose({
      showCaption: false,
      showTooltips: false,
      text: {previous: "", next: "" }
    });
  });
</script>
<% content_for :title, "法国拉苏米亚葡萄酒柜（La Sommelière）- #{@winecooler.category.name if @winecooler.category } - #{@winecooler.model}" %>
<div class="bandeauHaut"  style="background-image:url('<%=asset_path("cate1_bg.jpg")%>')">
  <div class="AccrocheListeRub" style="margin-right:-475px; top:24px; width:537px;">
    <h3><%=@winecooler.category.name if @winecooler.category%></h3>
    <p class="accrochePage"><%=@winecooler.category.desc if @winecooler.category%></p>
  </div>
</div>

<div id="centreSite" class="body">
  <div id="contenuCentre">

    <div id="menuG">
      <ul>
        <li><span class="titreRubMenuG"><%=@winecooler.category.name if @winecooler.category%></span>
          <% if @winecooler.category %>
          <ul>
            <%@winecooler.category.winecoolers.each do |w|%>
              <li>
                <a href="/winecoolers/<%=w.id%>" title="<%=w.model%>" style="background-color:#d61260;" onmouseover="this.style.color='#d61260';" onmouseout="this.style.color='#ffffff';" <%="class='actif'".html_safe if w == @winecooler%> >
                  <%=w.model%>
                </a>
              </li>
            <%end%>
            <br style="clear: both;" />	
          </ul>
          <%end%>
        </li>
      </ul>

    </div>
    <style>
      #submitPublier {
        background-color:#d61260;
      }
    </style>
    <div class="colM">
      <div class="ProduitDescription">
        <div class="titreProduit">
          <h1 style="color:#d61260"><span id="h1_titre"><%=@winecooler.model%></span></h1>
          <p></p>
        </div>
        <div class="ProduitDescriptionDetail">
          <div class="AvantagesProduit">
            <%if @winecooler.feature%>
              <p class="titreAvantages" style="color:#d61260">特点:</p>
              <%=@winecooler.feature.html_safe %>
            <%end%>
          </div>
          <table class="liensProduit">
            <tbody>
              <tr>
                <td width="50%">
                  <a href="">
                    <img src="<%=asset_path("where.png")%>" alt="到哪购买?" title="到哪购买?">
                    <span>到哪购买?</span>
                  </a>
                </td>
                <td width="50%">
                  <a href="javascript:void((function(s,d,e,r,l,p,t,z,c){var%20f='http://v.t.sina.com.cn/share/share.php?appkey=iamsuperali',u=z||d.location,p=['&url=',e(u),'&title=',e(t||d.title),'&source=',e(r),'&sourceUrl=',e(l),'&content=',c||'gb2312','&pic=',e(p||'')].join('');function%20a(){if(!window.open([f,p].join(''),'mb',['toolbar=0,status=0,resizable=1,width=440,height=430,left=',(s.width-440)/2,',top=',(s.height-430)/2].join('')))u.href=[f,p].join('');};if(/Firefox/.test(navigator.userAgent))setTimeout(a,0);else%20a();})(screen,document,encodeURIComponent,'','',
                     '<%= HomeHelper::ROOT + @winecooler.uploads.first.upload.url(:thumb) if @winecooler.uploads && @winecooler.uploads.length > 0%>',
                     '推荐法国拉苏米亚（La Sommeliere）葡萄酒柜，型号：<%=@winecooler.model%>',
                     '',
                     'utf-8'));">
                    <img src="<%=asset_path("weibo.png")%>" alt="分享到微博" title="分享到微博"><span>分享到微博</span></a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="sliderProduit">

          <div class="pikachoose">
            <% if @uploads && @uploads.length > 0  %>
              <ul id="pikame">
                <% count=0 %>

                <% @uploads.each do |u| %>
                  <% count+=1 %>
                  <%url_string = u.upload.url(:thumb)%>
                  <li>
                    <a href="javascript:lanceZoomNoir(<%=count%>);" target="_self">
                      <img src="<%=url_string%>" alt="slide <%=count %>" />
                    </a>
                  </li>
                <%end%>

              </ul>
            <%end%>
          </div>

          <% check_accessory = @winecooler.accessories.length  %>
          <div class="produitCaracteristiques">
            <div class="ProduitDescriptionDetail">
              <%if check_accessory> 0%>
                <div class="AccessoiresProduit" style="background-color:#d61260;">
                  配件:
                </div>
                <table class="tableAccessoires">
                  <% @winecooler.accessories.each do |a| %>
                    <tr>
                      <td><%= image_tag a.image.url(:thumb),:width=>"60",:height=>"60" %></td>
                      <td><b><%= a.model %></b></td>
                    </tr>
                  <%end%>
                <%end%>
              </table>
            </div>
            <div id="scroller-header" data-color="#d61260" >
              <a href="#panel-1" rel="panel" class="selected" style="pointer-events: none;" >产品简介</a>
              <!--a href="#panel-2" rel="panel">其他1</a>
              <a href="#panel-3" rel="panel">其他2</a-->
            </div>
            <div id="scroller-body">
              <div id="mask">
                <div id="panel">
                  <div id="panel-1">
                    <table class="caracteristiquesProduitDetail">
                      <tr>
                        <td width="50%">
                          <%=@winecooler.desc.html_safe%>
                        </td>
                      </tr>
                    </table>
                  </div>
                  <div id="panel-2">
                    <p>

                    </p>
                  </div>
                  <div id="panel-3" style="padding-top:7px;">

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--配件预留位置
        <input type="hidden" id="rubriqueProduitEnCours" value="30"-->
        <div style="display:none;">
          <% if @uploads && @uploads.length > 0  %>
            <% count = 0 %>
            <% @uploads.each do |u| %>
              <% count +=1 %>
              <%url_string = u.upload.url(:content)%>
              <a href="<%=url_string%>" rel="gallery1" class="zoomslide gallery1" title="<%=u.winecooler.model%>" id="lienImg<%=count%>">
                <img class="cloudcarousel shadow item" src="<%=url_string%>" alt="" border="0" />
              </a>
            <%end%>

          <%end%>

        </div>
        <br style="clear: both;" />

      </div>
    </div>
    <div style="clear:both;" ></div>

  </div>
</div>