<p id="notice"><%= notice %></p>

<p>
  <b>Model:</b>
  <%= @accessory.model %>
</p>

<p>
  <b>Image:</b>
  <%= @accessory.image %>
</p>


<%= link_to 'Edit', edit_accessory_path(@accessory) %> |
<%= link_to 'Back', accessories_path %>
